nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.hero--pic{
    position: absolute;
    max-width: 70%;
    right: 0;
    top: 25%;
}


.hero-heading{
    position: absolute;
    top: 90%;
    left: 10%;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 110%;
    color: #000000;
}

.hero-para{
    position: absolute;
    top: 107%;
    left: 10%;
    width: 370px;
    height: 56px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    color: #222222;
}

.card--pic{
    position: absolute;
    top: 140%;
    left: 10%;
    border-radius: 25px;
}

.card--star{
    position: absolute;
    top: 199%;
    left: 10%;
}

.card--para{
    top: 199%;
}